li{
    font-size: 2vw;
}


#ceviche{
    
    color: #0f0;
}
#pizza{
    color:blueviolet;
    
}
#roastbeef{
    color:purple;
}
.title1{
    text-align: center;
    transition-duration: 1s;
}

h1:hover{
    font-size: 10vh;
    color:red;
}